body{
    background-color:whitesmoke;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: white;
    box-shadow: 0px -20px 100px 0px;
}
