body{
    background-color: #eceaea;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
}
.countries{
    width: 175px;
    background-color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
}
.block{
    display: block;
}
.none{
    display: none;
}
.select{
    z-index: 1;
    margin-top: 20px;
    width: 150px;
    list-style-type: none;
}
.select li{
    background-color: white;
    border: 1px solid black;
    margin-left: -40px;
    font-weight: 600;
    font-family: sans-serif;
}
.state{
    z-index: 1;
    margin-top: 20px;
    width: 150px;
    list-style-type: none;
}
.state li{
    background-color: white;
    border: 1px solid black;
    margin-left: -40px;
    font-weight: 600;
    font-family: sans-serif;
}
.states{
   width: 175px;
    background-color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.btncity{
      width: 175px;
    background-color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.city{
    z-index: 1;
    margin-top: 20px;
    width: 150px;
    list-style-type: none;
}
.city li{
    background-color: white;
    border: 1px solid black;
    margin-left: -40px;
    font-weight: 600;
    font-family: sans-serif;
}
.weather{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
.weather p{
    font-size: 29px;
   font-weight: 600;
margin-top: -62px;
margin-left: 120px;
}
.weather h1{
  margin-top: -120px;
}
.weather img{
    margin-left: 10px;
    margin-top: 60px;
    width: 100px;
    height: 100px;
}
