body{
    background-color: #eceaea;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
}

.block{
    display: block;
}
.none{
    display: none;
}
.select{
    z-index: 1;
    margin-top: 65px;
    margin-left: -190px;
    height: 200px;
    width: 150px;
    overflow-y: scroll;
    list-style-type: none; 
    background-color: rgb(18, 199, 81) ;
}
.select li{
    border: 1px solid black;
    margin-left: -40px;
    font-weight: 600;
    font-family: sans-serif;
}
.state{
    z-index: 1;
    margin-top: 65px;
    margin-left: -190px;
    height: 200px;
    width: 150px;
    overflow-y: auto;
    list-style-type: none; 
    background-color: rgb(18, 199, 81) ;
}
.state p{
    font-weight: 700;
   color: black;
   font-size: 12px;
}
.state li{
    border: 1px solid black;
    margin-left: -40px;
    font-weight: 600;
    font-family: sans-serif;
}
.city{
   z-index: 1;
    margin-top: 65px;
    margin-left: -190px;
    height: 200px;
    width: 150px;
    overflow-y: auto;
    list-style-type: none; 
    background-color: rgb(18, 199, 81) ;
}
.city p{
     font-weight: 700;
   color: black;
   font-size: 12px;
}
.city li{
    border: 1px solid black;
    margin-left: -40px;
    font-weight: 600;
    font-family: sans-serif;
}
.weather{
    margin-top: -400px;
    width: 400px;
    height: 500px;
    margin-left: 90px;
}
.weather2{
    margin-top: -400px;
    width: 400px;
    height: 500px;
    margin-left: 90px;
}
.weather2 p{
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
}
.weather p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 70px;
   font-weight: 10;
margin-top: -5px;
margin-left: 190px;
}
.weather sup{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
   position: absolute;
   margin-top: -5px;
    font-size: 35px;
}
.weather .h{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    font-size: 25px;
    color: white;
  text-transform: capitalize; 
  margin-top: -5px;
  margin-left: 130px;
}
.weather #img{
    margin-top: 120px;
    width: 100px;
    height: 100px;
    margin-left: 160px;
}

.choose{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  width: 600px;
height: 500px;
background: #022a4f;
background: linear-gradient(180deg,rgba(2, 42, 79, 1) 50%, rgba(79, 196, 120, 1) 100%);
}

.choose button{
width: 175px;
margin-top: 10px;
background-color:rgb(18, 199, 81);
font-weight: 600;
font-family: sans-serif;
font-size: 20px;
height: 52px;
}
.choose button:hover{
    margin-top: 5px;
box-shadow: 1px 1px 10px 1px white;
}

.day{
    margin-top: -330px;
    position: absolute;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    font-size: 30px;
    color: white;
  text-transform: capitalize; 
 
}
.pg1{
 margin-left: 170px;
}
.pg2{
 margin-left: 150px;
}
.page{
    margin-top: -130px;
    margin-left: 280px;
}

.weather2 .speed{
    position: absolute;
    margin-top: 140px;
    margin-left: 300px;
}
.weather2 .Hum{
    position: absolute;
    margin-top: 200px;
    margin-left: 300px;
}
.weather2 .pres{
    position: absolute;
    margin-top: 260px;
    margin-left: 300px;
}
.weather2 .wind{
    position: absolute;
    margin-top: 140px;
    margin-left: 20px;
}
.weather2 .humidity{
    position: absolute;
    margin-top: 200px;
    margin-left: 20px;
}
.weather2 .pressure{
    position: absolute;
    margin-top: 260px;
    margin-left: 20px;
}
